[user]
        name = Stein Inge Morisbak
        email = stein.inge.morisbak@BEKK.no
[core]
        editor = /usr/bin/vim
        quotepath = false
[credential]
[hub]
        protocol = https
[push]
        default = matching
[mergetool "p4merge"]
cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge “$PWD/$BASE” “$PWD/$REMOTE” “$PWD/$LOCAL” “$PWD/$MERGED”
keepTemporaries = false
trustExitCode = false
keepBackup = false
[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
[diff]
	tool = p4mergetool
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
